/*RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body,
h1,
ul {
  margin: 0;
}

li {
  list-style-type: none;
}



a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.toggle-menu {
  box-shadow: none;
  background: transparent;
  border: 0;
}

body {
  background: #f1f1f1;
  color: #272626;

}


/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background: #DD3543;
}

nav {

  align-items: flex-end;
  justify-content: space-between;

}

.logo {

  display: inline-block;
   padding: 20px 30px;
  background: #F35B66;
  color: #fff;

  transition: all .2s;
}

ul {
  display: flex;

  padding: 0;

}


li a {
  display: block;
  padding: 10px 20px;
}

.toggle-menu {
  display: none;

  color: #fff;


}


/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

main {
  display: block;
  padding: 0 20px;
}


/* STYLES FOR THE "scroll" CLASS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.scroll {
  box-shadow: 0 7px 0 0 rgba(0, 0, 0, .1);
}

.scroll .logo {
  padding: 10px 20px;

}

.scroll nav {
  align-items: center;
}

.scroll .logo,
.scroll ul,
.scroll .toggle-menu {
  margin: 0;
}


/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 1060px) {
  header {
    padding: 10px;
  }
  nav {
    align-items: center;
  }
  ul {
    display: none;
  }

  .toggle-menu {
    display: block;
  }
}


/* STYLES FOR THE COUNTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.counter {
  visibility: hidden;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 1px;
  padding: 5px;
  color: #fff;
  background: #DD3543;
}